form {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
input, textarea, select {
    width: 100%;
}
input[type=submit] {
    float: none;
}
label { 
    display: block;
    margin: 10px;
    text-align: left;
}
@media (min-width: 650px) {
    input, textarea, select {
        float: right;
        width: 50%;
    }
    #stars {
        float: right;
    }
}